<% if @that_sms_verify.nil? %>
  <div class="alert alert-danger" role="alert">
    <%= @record1 %>
  </div>
<% end %>


<div class="card">
  <div class="card-body">
    <h4>You are about to delete your order</h4>
    <h4>Are you sure, you want to delete your order?</h4>
  </div>
</div>



<%= @that_order.id %>